<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.header {
        height: 20vh;
        background-color: aqua;
    }
    .content {
        height: 30vh;
        background-color: lightgray;
    }
    .footer {
        height: 10vh;
        background-color: green;
    }
</style>
</head>
<body>

	<div class="header">
		<h1>HEADER</h1>
	</div>
	
	<div class="content">
		<h1>CONTENT</h1>
	</div>
	
	<div class="footer">
		<h1>FOOTER</h1>
	</div>

</body>
</html>

<!-- 
	정적인 페이지를 호출할 때는 브라우저에서 직접 열 수 있다
	하지만 템플릿을 사용한 경우에는 반드시 서버를 통해 열어야 한다
-->

