<!-- exLayout1.html를 복사하여 수정할 것 -->

<!DOCTYPE html>

<style>
    .header {
        height: 20vh;
        background-color: aqua;  /* pink로 변경 */
    }
    .content {
        height: 30vh;
        background-color: lightgray;
    }
    .footer {
        height: 10vh;
        background-color: green;
    }
</style>

<body>

<div class="header">
    <h1>HEADER</h1>
</div>
<div class="content" >
	<!-- fragment.html 파일의 frag2 조각을 불러와서 이 위치에 삽입 -->
    <th:block th:replace = "~{layout/fragment :: frag2}"></th:block>
</div>
<div class="footer">
    <h1>FOOTER</h1>
</div>

</body>
</html>

<!--
이 방식을 사용하면 첫번째 페이지와 두번째 페이지에 중복 코드가 있기 때문에,
공통 요소를 변경해야한다면 모든 페이지를 일일이 수정해야 한다
 -->