<!-- 템플릿 레이아웃 만들기 -->

<!DOCTYPE html>

<style>
    .header {
        height: 20vh;
        background-color: aqua;  /* 헤더의 배경색을 pink로 변경 */
    }
    .content {
        height: 30vh;
        background-color: lightgray;
    }
    .footer {
        height: 10vh;
        background-color: green;
    }
</style>

<body>

<div class="header">
    <h1>HEADER</h1>
</div>
<div class="content" >
	<!--<h1>CONTENT</h1>-->
	
    <!-- ~{} : 조각 표현식 -->
    <!-- th:replace : 다른 파일의 내용으로 교체할 수 있도록 설정 -->
    <!-- fragment.html 파일의 frag1 조각을 불러와서 이 위치에 삽입 -->
    <th:block th:replace = "~{layout/fragment :: frag1}"></th:block> <!-- block 태그 -> h태그 교체 -->
</div>
<div class="footer">
    <h1>FOOTER</h1>
</div>

</body>
</html>

<!-- 
정적인 페이지를 호출할 때는 브라우저에서 직접 열 수 있다
파일 선택한 후 우클릭 > Open With > Web browser 선택
타임리프 템플릿을 렌더링할 때는 서버를 통해 호출해야 한다
-->


