<!DOCTYPE html>

<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">

	<th:block th:fragment="content">

		<!-- 버튼을 클릭하면 등록화면으로 이동 -->
		<h1>Board List Page
		 	<span>
                <a th:href="@{/board/register}">
                    <button type="button" class="btn btn-outline-primary">게시물 등록</button>
                </a>
            </span>
		</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>제목</th>
					<th>작성자</th>
					<th>등록일</th>
				</tr>
			</thead>

			<!-- 테이블에 타임리프 처리 -->
			<tbody>
				<tr th:each="dto : ${list}"> <!-- 게시물 리스트를 하나씩 꺼내서 처리하기 -->
					<!-- 링크를 클릭하면 상세화면으로 이동 -->
					<th>
						<a th:href="@{/board/read(no = ${dto.no})}">[[${dto.no}]]</a> <!-- (키=값) 부분은 (/board/read?no=1) 으로 처리됨 -->
					</th>
					<td>[[${dto.title}]]</td>
					<td>[[${dto.writer}]]</td>
					<td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td> <!-- 날짜는 년/월/일 포맷으로 처리 -->
				</tr>

			</tbody>
		</table>

		<!--인라인 속성을 사용하여 타입 처리-->
		<!--전달받은 값을 모달창으로 출력-->
		<!--서버에서 전달한 처리결과를 msg변수에 저장-->
		<!-- 글번호가 있는지 확인 -->
<!--		<script th:inline="javascript">
                    $(document).ready(function(){
                      var msg = [[${msg}]];
                      if(msg != null){
                          alert(msg + "번 글이 등록되었습니다.");
                      }
                    });
        </script>-->

	</th:block>

</th:block>