<!-- 조건문 사용하기 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>조건문</h1>
    <!-- th:if를 사용하여 조건이 참일때만 해당 태그를 생성 -->
    <p th:if="10%2==0"> 10은 짝수 입니다 </p>
    <!-- th:unless를 사용하여 조건이 거짓일때만 해당 태그를 생성 -->
    <p th:unless="10%2==1"> 10은 짝수가 아닙니다 </p>
    
    <h1>삼항연산자</h1>
    <!-- 삼항연산자를 사용하여 조건에 따라 다른 값을 출력 -->
    <!-- 삼항연산자는 별도의 속성을 사용하지 않고, th:text 속성에 식을 작성 -->
    <p th:text="10%2==0?'짝수':홀수"></p>
  
	<!-- 리스트에서 객체를 반복하며 조건에 따라 출력 -->
	<!-- 객체의 번호가 2번이면 객체 정보를 출력, 아니면 --를 출력 -->
	<!-- th:block: html 태그없이 반복문이나 조건문을 쓸때 사용 -->
    <th:block th:each="dto: ${list}">
        <p th:text="${dto.no==2}?${dto}:--"></p> <!-- 변수표현식에는 변수 또는 식을 넣을 수 있음 -->
    </th:block>
    
    <!-- if와 unless를 각각 사용하여, 조건에 따라 다른값을 출력 -->
    <th:block th:each="dto: ${list}">
        <p th:if="${dto.no == 2}" th:text="${dto}"></p>
        <p th:unless="${dto.no == 2}" th:text="--"></p>
    </th:block>

</body>
</html>